<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/show.css' />
    <title>Document</title>
</head>
<body>
    <section>
        <div id="tittle"><h1 id="title"> Welcome to express flights  </h1></div>
        <span class="flights-container">
            <div>Details</div>
            <div>Airline: <%= flights.airline %> </div>
            <div>Airport: <%= flights.airport %> </div>
            <div> Flight Number: <%= flights.flightNo %> </div>
            <div>Departs: <%= flights.departs %> </div>
        </span>
        <!-- not sure why is this not working -->
        <div>Ticket:</div>
        <ul>
          <li><%= ticket[ticket.length - 1].seat %></li>
        </ul>
    </section>
    <form action="/flights/<%= flights.id %>/destinations " method="POST">
        <h1 id="destination">Destination</h1>
    <label class="airport">
        Airport: 
        <select name="airport">
            <option value="">Select airline</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label class="airport"> Arrival:
        <input type="Date" name="arrival" class="date">
    </label><br>
    <input type="submit" value="Add Destination" class="Add-distination">
    </form>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th id="date-title">Date</th>
            </tr>
        </thead>
    </table>
    <tbody>

        <% flights.destinations.forEach( function(f) { %> 
            <tr class="flight-container">
                <td class="flight"><%= f.createdAt.toLocaleDateString() %> </td>
                <td class="flight"><%= f.airport %> </td>
                <td class="flight"><%= f.arrival.toLocaleDateString() %> </td>
            </tr>
            <% }) %> 
    </tbody>


    <form action="/flights/<%= flights._id %>/tickets" method="POST">
        <br>
        <br>
        <br>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <input name="price" type="number">

        <button type="submit">Add to Seat</button>
      </form>

</body>
</html>