<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/stylesheet.css' />
    <title>Document</title>
</head>
<body>
    <section>
        <div><h1>Welcome to express flights</h1></div>
        <div>Airline: <%= flights.airline %> </div>
        <div>Airport: <%= flights.airport %> </div>
        <div> Flight Number: <%= flights.flightNo %> </div>
        <div>Departs: <%= flights.departs %> </div>
    </section>
    <form action="/flights/<%= flights.id %>/destinations " method="POST">
        <h1>Destination</h1>
    <label>
        Airport: 
        <select name="airport">
            <option value="">Select airline</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label> Arrival:
        <input type="Date" name="arrival">
    </label><br>
    <input type="submit" value="Add Destination">
    </form>
    <table>
        <thead>
            <tr>
                <th>airline</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
    <tbody>
        <% flights.destinations.forEach( function(f) { %> 
            <tr>
                <td><%= f.createdAt.toLocaleDateString() %> </td>
                <td><%= f.airport %> </td>
                <td><%= f.arrival %> </td>
            </tr>
            <% }) %> 
    </tbody>

</body>
</html>